*.iws
*Db.properties
*Db.script
.settings
stacktrace.log
/*.log
/*DB.*
.DS_Store
*.iml
*.ipr
.project
.classpath
.idea/
target/classes
grails-app/controllers/com/virtualsw/Prueba1Controller.groovy
grails-app/views/prueba1/*
test/unit/com/virtualsw/Prueba1ControllerTests.groovy
*~