*.iws
.settings
/*.log
.DS_Store
*.iml
*.ipr
.project
.classpath
.idea/
target
grails-app/controllers/com/virtualsw/Prueba1Controller.groovy
grails-app/views/prueba1/
test/unit/com/virtualsw/Prueba1ControllerTests.groovy
*~
web-app
*.zip
*.sha1
plugin.xml